<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log In - Members Only</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./styles.css" />
  </head>
  <body>
    <div class="container">
      <div class="form-box">
        <h2>Welcome Back</h2>
        <form action="/login" method="POST">
          <div class="input-group">
            <label for="login-username">Username</label>
            <input type="text" id="login-username" name="username" required />
          </div>

          <div class="input-group">
            <label for="login-password">Password</label>
            <input
              type="password"
              id="login-password"
              name="password"
              required
            />
          </div>

          <button type="submit" class="btn">Log In</button>
        </form>

        <div class="footer-link">
          Need an account? <a href="/signup">Sign up here</a>
        </div>
      </div>
    </div>
  </body>
</html>
